<a href="https://colab.research.google.com/github/ketanh83/AIPract/blob/main/ML_Practical_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Given a bank customer, build a neural network-based classifier that can determine whether
# they will leave or not in the next 6 months.
# Dataset Description: The case study is from an open-source dataset from Kaggle.
# The dataset contains 10,000 sample points with 14 distinct features such as
# CustomerId, CreditScore, Geography, Gender, Age, Tenure, Balance, etc.
# Link to the Kaggle project:
# https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling
# Perform following steps:
# 1. Read the dataset.
# 2. Distinguish the feature and target set and divide the data set into training and test sets.
# 3. Normalize the train and test data.
# 4. Initialize and build the model. Identify the points of improvement and implement the same.
# 5. Print the accuracy score and confusion matrix (5 points)

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix
import tensorflow as tf
from tensorflow import keras

# 1. Read the dataset
data = pd.read_csv("Churn_Modelling.csv")  # Replace with the actual path to the dataset
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [12]:
# 2. Distinguish features and target
X = data.drop("Exited", axis=1)  # Features
y = data["Exited"]  # Target variable
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [13]:
x=data[['CreditScore','Tenure', 'Balance', 'NumOfProducts', 'HasCrCard','IsActiveMember', 'EstimatedSalary']]
y=data['Exited'];

In [15]:
# 2. Divide the dataset into training and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
from sklearn.preprocessing import StandardScaler;
scaler=StandardScaler();
x_scaled=scaler.fit_transform(x);
x_scaled

array([[-0.32622142, -1.04175968, -1.22584767, ...,  0.64609167,
         0.97024255,  0.02188649],
       [-0.44003595, -1.38753759,  0.11735002, ..., -1.54776799,
         0.97024255,  0.21653375],
       [-1.53679418,  1.03290776,  1.33305335, ...,  0.64609167,
        -1.03067011,  0.2406869 ],
       ...,
       [ 0.60498839,  0.68712986, -1.22584767, ..., -1.54776799,
         0.97024255, -1.00864308],
       [ 1.25683526, -0.69598177, -0.02260751, ...,  0.64609167,
        -1.03067011, -0.12523071],
       [ 1.46377078, -0.35020386,  0.85996499, ...,  0.64609167,
        -1.03067011, -1.07636976]])

In [16]:
from sklearn.model_selection import train_test_split;
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size= 0.25);

In [17]:
from sklearn.neural_network import MLPClassifier;
model=MLPClassifier(hidden_layer_sizes=(100,100,100),max_iter=100,activation='relu');
model.fit(x_train,y_train);

/usr/local/lib/python3.10/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:690: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  warnings.warn(

In [19]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report;

In [20]:
y_pred=model.predict(x_test);
y_pred

array([0, 0, 0, ..., 0, 0, 0])

In [21]:
accuracy_score(y_test,y_pred)

0.8052

In [22]:
confusion_matrix(y_test,y_pred)

array([[1901,  108],
       [ 379,  112]])